.messages {
    background-color: deepskyblue;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
}

.sent {
    flex-direction: row-reverse;
    text-align: end;
    float: right;
}

.send-message {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid lightgray;
    margin-left: -5px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: gainsboro;
}

.header {
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gainsboro;
}

img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    margin: 5px;
}