.app {
	color: blue;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.button {
	padding: 10px;
	margin-top: 20px;
	background-color: blue;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		background-color: darkblue;
	}
	&::before {
		content: '>> ';
	}
}

.inputContainer {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	&:focus-within {
		color: green;
	}
}

.label {
	color: gray;
	margin-bottom: 10px;
}

.input {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid gray;
	&:focus {
		outline: none;
		border-color: blue;
	}
	&::placeholder {
		color: lightgray;
	}
}
